header.header
    .header__column
        i.fas.fa-camera-retro
    .header__column    
    .header__column
        ul
            li
                a(href="#") Join
            li
                a(href="#") login
