.social-login
    button.social-login__github
        span
            i.fab.fa-github  
            | Continue width Github
    button.social-login__kakao
        span
            i.fas.fa-comment
            | Continue width Kakao
    button.social-login__google
        span
            i.fab.fa-google
            | Continue width Google        