.social-login
    button.social-login__github
        a(href=routes.github) 
            span
                i.fab.fa-github  
            | Continue with Github
    button.social-login__kakao
        span
            i.fas.fa-comment
            | Continue with Kakao
    button.social-login__google
        span
            i.fab.fa-google
            | Continue with Google        