.header {
    background-color: $white;
    border-bottom: 1px solid $dark-grey;
    .header__wrapper {
        display: flex;
        width: 100%;
        align-content: center;
        max-width: 1200px;
        flex-direction: row;
        margin: 0 auto;
        align-items: center;
        padding: 1em 0;
        .header__column {
            display: flex;
            i {
                font-size: 30px;
            }
            &:first-child {
                width: 100%;
                align-items: center;
            }
            &:last-child {
                width: 100%;
                justify-content: end;
            }
            form {
                width: 50%;
                input {
                    width: 100%;
                    padding: 6px 8px;
                    font-size: $font-medium;
                    font-weight: 600;
                    border: 1px solid $dark-grey;
                    border-radius: 4px;
                    &::placeholder {
                        font-weight: 400;
                        color: $black;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}
