.header{
    width:100%;
    background-color:$white;
    margin-bottom:50px;
    border-bottom: 1px solid $dark-grey;
    .header__wrapper{
        display:grid;
        width:100%;
        max-width: 1200px;
        grid-template-columns: repeat(3, 1fr);
        margin:0 auto;
        align-items: center;
        padding:0.5em 1em;
        .header__column{
            i{
                color:#b5269a;
                font-size:30px;
            }
            &:nth-child(2) {
                width: 100%;
                justify-self: center;
            }
            &:last-child {
                justify-self: end;
            }

            ul{
                display:flex;
                color:$black;
                align-items: center;
                text-transform: uppercase;
                font-weight: 700;
                li:not(:last-child){
                    margin-right: 0.4em;
                }
                li a {
                    color:#b5269a;
                    
                }
            }
            form{
                width:100%;
                input{
                    width:100%;
                    padding:6px 8px;
                    font-size: $font-medium;
                    font-weight: 600;
                    border:1px solid $dark-grey;
                    border-radius: 4px;
                    &::placeholder{
                        font-weight: 400;
                        color:$black;
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }    


}

