extends layouts/main
include mixins/imageBlock

block content
    .images
        each image in images
            +imageBlock({
                id:image.id,
                imgFile:image.imgFile,
                title:image.title,
                views:image.views
            })