extends layouts/main
include mixins/imageBlock

block content
    .home-images
        each image in images
            +imageBlock({
                id:image.id,
                imgFile:image.fileUrl,
            })