extends layouts/main

block content
    .form-container
        form(action=`/pictures${routes.upload}` method="post")
            input(type="file" name="file")
            input(type="text" name="title" placeholder="Title")
            textarea(name="description"  placeholder="Description")
            input(type="submit" value="Upload")
            