html,
body {
    height: 100%;
}

body {
    background-color: $grey;
    color: $black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: $font-medium;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $grey;
    min-height: 70vh;
    font-size: $font-small;
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: $black;
    cursor: pointer;
}

button.delete {
    width: 320px;
    background: $dark-red;
    color: $white;
}

button,
input:not([type="file"]),
textarea {
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px;
    border: none;
    resize: none;
    width: 100%;
    border-radius: 4px;
    color: $black;
    &::placeholder {
        padding: 10px;
        font-weight: 200;
        color: rgb(111, 111, 111);
    }
}

.fileUpload {
    label {
        font-weight: 400;
        margin-right: 10px;
    }
}
