extends layouts/main

block content
    h2.contact-title CONTACT US
    .contact-container
        .contact-info
            .contact-instagram.contact-box
                h6 📱 Instagram
                a(href="https://instagram.com/orgel_coop?igshid=YzAyZWRlMzg=" alt="instagram") @orgel__coop
            .contact-email.contact-box
                h6 💌 Email 
                a(href="mailto:orgel.coop@gmail.com") orgel.coop@gmail.com 


