extends layouts/main

block content
    .detail-container
        .detail-info
            .detail__image 
                img(src="static/logo/logo2.png", alt="logo" width="500px" height="300px")
            .detail__content 
                h5.detail__content-title 설립목적
                .detail__content-text
                    span.content-text  ‘오르골 협동조합’
                    span.content-text 은 다양한 예술인(단체)들이 힘을 합칠 수 있는 구심점이 되고자 설립한 법인입니다. 
                    span.content-text 합리적인 가격에 양질의 콘텐츠(공연,음반,영상등)를 제작할 수 있는 인적 물적 네트워크를 형성하고 프리랜서 예술인, 민간단체들의 처우를 개선하며
                    span.content-text 예술 활동에 집중할 수 있는 환경을 조성하고자 합니다.
                    span.content-text 향후 다양한 분야 예술인들의 역량을 모아 공연과 음반, 영상뿐만 아니라
                    span.content-text 애니메이션, XR(VR AR MR), 메타버스 콘텐츠 등을 제작하여
                    span.content-text  광주를 대표하고
                    span.content-text  대한민국을 대표하는 콘텐츠제작 협동조합이 되는 꿈을 꾸고 있습니다.
        .detail__history
            img(src="static/orgelhistory/history.png", alt="history" width="600px")
            
