html,
body {
  height: 100vh; }

body {
  color: #444444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px; }

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 70vh;
  font-size: 12px; }

button {
  border: none;
  cursor: pointer; }

a {
  text-decoration: none;
  color: #444444;
  cursor: pointer; }

button.delete {
  width: 320px;
  background: #bb2f2a;
  color: #ffffff; }

button,
input:not([type="file"]),
textarea {
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px;
  border: none;
  resize: none;
  width: 100%;
  border-radius: 4px;
  color: #444444; }
  button::-moz-placeholder, input:not([type="file"])::-moz-placeholder, textarea::-moz-placeholder {
    padding: 10px;
    font-weight: 200;
    color: #6f6f6f; }
  button:-ms-input-placeholder, input:not([type="file"]):-ms-input-placeholder, textarea:-ms-input-placeholder {
    padding: 10px;
    font-weight: 200;
    color: #6f6f6f; }
  button::placeholder,
  input:not([type="file"])::placeholder,
  textarea::placeholder {
    padding: 10px;
    font-weight: 200;
    color: #6f6f6f; }

.fileUpload label {
  font-weight: 400;
  margin-right: 10px; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

input {
  border: none;
  box-sizing: border-box; }
  input input:focus,
  input input:active {
    outline: none; }

button {
  max-width: 320px;
  color: #ffffff;
  border: none;
  outline: none; }
  button:not(:last-child) {
    margin-bottom: 25px; }

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e7e7; }
  .header .header__wrapper {
    display: flex;
    width: 100%;
    align-content: center;
    max-width: 1200px;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    padding: 1em 0; }
    .header .header__wrapper .header__column {
      display: flex; }
      .header .header__wrapper .header__column i {
        font-size: 30px; }
      .header .header__wrapper .header__column:first-child {
        width: 100%;
        align-items: center; }
      .header .header__wrapper .header__column:last-child {
        width: 100%;
        justify-content: end; }
      .header .header__wrapper .header__column form {
        width: 50%; }
        .header .header__wrapper .header__column form input {
          width: 100%;
          padding: 6px 8px;
          font-size: 14px;
          font-weight: 600;
          border: 1px solid #e7e7e7;
          border-radius: 4px; }
          .header .header__wrapper .header__column form input::-moz-placeholder {
            font-weight: 400;
            color: #444444; }
          .header .header__wrapper .header__column form input:-ms-input-placeholder {
            font-weight: 400;
            color: #444444; }
          .header .header__wrapper .header__column form input::placeholder {
            font-weight: 400;
            color: #444444; }
          .header .header__wrapper .header__column form input:focus {
            outline: none; }

.navbar {
  margin-bottom: 25px; }
  .navbar:hover {
    background-color: #130f40; }
    .navbar:hover a {
      color: #fff; }
  .navbar .navbar__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 0; }
  .navbar .navbar__column {
    display: flex;
    max-width: 1200px;
    align-items: center; }
    .navbar .navbar__column:first-child {
      padding-left: 12em;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .navbar .navbar__column:first-child .navbar__detail {
        display: flex; }
    .navbar .navbar__column:last-child {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
    .navbar .navbar__column li {
      list-style: none;
      margin-left: 1em; }
      .navbar .navbar__column li:hover {
        color: #fff; }

.footer {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid #e7e7e7;
  background-color: #130f40; }
  .footer .footer__info {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center; }
    .footer .footer__info .footer-business {
      display: flex;
      flex-direction: column; }
      .footer .footer__info .footer-business .footer__text {
        padding: 1px 0;
        font-size: 11px;
        color: #fff; }
    .footer .footer__info .footer-social {
      display: flex;
      align-items: center; }
      .footer .footer__info .footer-social a:first-child {
        margin-right: 13px;
        color: #e91e63; }
      .footer .footer__info .footer-social a:last-child {
        color: red; }
      .footer .footer__info .footer-social i {
        font-size: 30px; }

.imageBlock {
  width: 230px;
  height: 220px;
  position: relative;
  display: block;
  overflow: hidden; }
  .imageBlock:hover img {
    transform: scale(1.1); }
  .imageBlock .imageBlock__thumnail {
    width: 100%;
    max-width: 300px;
    height: 220px;
    transition: transform 1.5s; }

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form-container form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px; }
    .form-container form input:not([type="file"]),
    .form-container form .fileUpload {
      border-radius: 4px;
      display: block;
      max-width: 320px;
      width: 100%;
      padding: 10px 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
      .form-container form input:not([type="file"]):not(:last-child),
      .form-container form .fileUpload:not(:last-child) {
        margin-bottom: 25px; }
    .form-container form textarea {
      width: 100%;
      max-width: 320px;
      margin-bottom: 25px;
      padding: 0;
      border: 0;
      outline: 0;
      height: 5em;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .form-container form input[type="submit"] {
      background-color: #3498db;
      color: white; }

.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .social-login button {
    width: 100%;
    max-width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0; }
    .social-login button:not(:last-child) {
      margin-bottom: 15px; }
    .social-login button span {
      font-size: 14px; }
      .social-login button span i {
        margin-right: 10px;
        font-size: 15px; }
  .social-login .social-login__kakao {
    background: #f3d903;
    color: #444444; }
  .social-login .social-login__google {
    background: #ffffff;
    color: #5a95ed; }

.search__header {
  margin-bottom: 25px; }
  .search__header h3 {
    font-size: 20px;
    font-weight: 600; }

.search__images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px; }

.detail-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center; }
  .detail-container .detail__content {
    padding: 10px 0;
    width: 500px; }
    .detail-container .detail__content .detail__content-title {
      font-size: 1.3em;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: 10px;
      cursor: pointer;
      padding-top: 10px;
      border-bottom: solid 2px #130f40; }
    .detail-container .detail__content .detail__content-text {
      font-size: 15px;
      letter-spacing: 1px;
      line-height: 1.3; }
      .detail-container .detail__content .detail__content-text .content-text:first-child {
        font-weight: 800; }
      .detail-container .detail__content .detail__content-text .content-text:nth-child(7) {
        font-weight: 800; }

.contact-title {
  font-size: 2.5em;
  color: #130f40;
  font-weight: 900;
  line-height: 1.1; }

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; }
  .contact-container .contact-info {
    display: flex; }
    .contact-container .contact-info .contact-box {
      border: 1px solid #130f40;
      border-top-width: 20px;
      margin-left: 50px;
      text-align: center;
      width: 200px;
      padding: 70px;
      line-height: 1.4; }
      .contact-container .contact-info .contact-box h6 {
        font-size: 14px; }
      .contact-container .contact-info .contact-box a {
        font-size: 14px;
        text-decoration: underline;
        color: #110a90; }

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .image-container .image {
    max-width: 600px; }
    .image-container .image img {
      border-radius: 15px;
      width: 100%; }
  .image-container .image__info {
    width: 100%;
    max-width: 600px;
    border-bottom: 1px solid #444444; }
    .image-container .image__info .image__info-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .image-container .image__info .image__info-wrapper .image__edit {
        margin: 0.5em 0;
        font-size: 14px; }
        .image-container .image__info .image__info-wrapper .image__edit a {
          background-color: transparent;
          color: #b5269a; }
      .image-container .image__info .image__info-wrapper .image__views {
        font-weight: 700; }
    .image-container .image__info .image__detail {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 600px;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      margin-bottom: 0.5em; }
      .image-container .image__info .image__detail .image__detail-wrapper {
        display: flex;
        align-items: center;
        justify-self: start; }
        .image-container .image__info .image__detail .image__detail-wrapper .image__likeBtn {
          display: flex;
          align-items: center;
          margin-right: 0.3em; }
          .image-container .image__info .image__detail .image__detail-wrapper .image__likeBtn .image__likeBtn-icon {
            margin-right: 0.3em; }
      .image-container .image__info .image__detail .image__createDate {
        justify-self: end; }
        .image-container .image__info .image__detail .image__createDate span {
          color: #444444; }
    .image-container .image__info .image__autor {
      font-weight: 800;
      margin-bottom: 0.3em;
      font-size: 14px; }
    .image-container .image__info .image__title {
      font-weight: 600;
      margin-bottom: 0.3em; }
    .image-container .image__info .image__description {
      margin-bottom: 0.3em; }

.home-slider {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  transition: transform 0.7s; }
  .home-slider .item img {
    width: 1200px; }

.home-artist {
  width: 1150px;
  padding: 25px; }
  .home-artist .home-artist-title h5 {
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
    padding-bottom: 25px; }
  .home-artist .home-artist-detail {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    border-radius: 10px; }
    .home-artist .home-artist-detail .home-artist-detail-content {
      display: flex;
      flex-direction: column; }
      .home-artist .home-artist-detail .home-artist-detail-content .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: 10px;
        width: 285px;
        height: 280px; }
        .home-artist .home-artist-detail .home-artist-detail-content .card img {
          width: 100%;
          max-width: 300px;
          height: 280px;
          transition: transform 1.5s; }
        .home-artist .home-artist-detail .home-artist-detail-content .card:hover img {
          transform: scale(1.1);
          border-radius: 10px; }
      .home-artist .home-artist-detail .home-artist-detail-content .home-artist-info {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding-left: 10px; }
        .home-artist .home-artist-detail .home-artist-detail-content .home-artist-info .home-artist-detail-group {
          font-weight: 700;
          margin-right: 10px; }
        .home-artist .home-artist-detail .home-artist-detail-content .home-artist-info:hover {
          opacity: 0.8; }

.home-picture {
  width: 1150px;
  padding: 0 25px;
  position: relative; }
  .home-picture .home-images-title {
    display: flex;
    align-items: center;
    margin: 25px 0;
    cursor: pointer; }
    .home-picture .home-images-title h5 {
      font-size: 20px;
      font-weight: 700;
      margin-right: 10px; }
      .home-picture .home-images-title h5:hover {
        opacity: 0.6; }
    .home-picture .home-images-title .home-images-more {
      position: absolute;
      right: 25px; }
      .home-picture .home-images-title .home-images-more i {
        font-size: 15px; }
  .home-picture .home-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px; }

.home-concert {
  max-width: 1150px;
  padding: 0 25px;
  position: relative; }
  .home-concert .home-concert-title {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: flex-start;
    cursor: pointer; }
    .home-concert .home-concert-title h5 {
      font-size: 20px;
      font-weight: 700;
      margin-right: 10px; }
      .home-concert .home-concert-title h5:hover {
        opacity: 0.6; }
    .home-concert .home-concert-title .home-concert-more {
      position: absolute;
      right: 30px; }
      .home-concert .home-concert-title .home-concert-more i {
        font-size: 15px; }
  .home-concert .home-concert-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    align-items: center; }
    .home-concert .home-concert-cards .card {
      width: 370px;
      height: 370px;
      margin-bottom: 10px;
      position: relative;
      display: block;
      border-radius: 10px;
      border: 1px solid #f5f5f5;
      overflow: hidden; }
      .home-concert .home-concert-cards .card img {
        width: 100%;
        transition: transform 1.5s; }
      .home-concert .home-concert-cards .card:hover img {
        transform: scale(1.1);
        overflow: hidden; }

.user-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .user-profile .user-profile__header {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .user-profile .user-profile__header .u-avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 15px; }
    .user-profile .user-profile__header .profile__username {
      margin-bottom: 15px;
      font-size: 18px; }
  .user-profile .user-profile__btns {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .user-profile .user-profile__btns a:not(:last-child) {
      margin-bottom: 20px; }
    .user-profile .user-profile__btns button {
      background: linear-gradient(-120deg, #7545bd, #b5269a) fixed; }


/*# sourceMappingURL=style.css.map*/