html, body {
  height: 100%; }

body {
  background-color: #f5f5f5;
  color: #444444;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px; }

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f5f5f5;
  min-height: 70vh;
  font-size: 12px; }

button {
  border: none;
  background: linear-gradient(-125deg, #fa0570, #b5269a);
  color: #444444;
  cursor: pointer; }

a {
  text-decoration: none;
  color: #444444;
  cursor: pointer; }

button.delete {
  width: 320px;
  background: #bb2f2a;
  color: #ffffff; }

button,
input:not([type="file"]),
textarea,
.fileUpload {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 7px 10px;
  padding-left: 10px;
  border: none;
  resize: none;
  max-width: 320px;
  width: 100%;
  border-radius: 4px;
  color: #444444; }
  button::-moz-placeholder, input:not([type="file"])::-moz-placeholder, textarea::-moz-placeholder, .fileUpload::-moz-placeholder {
    padding: 10px;
    font-weight: 200;
    color: #6f6f6f; }
  button:-ms-input-placeholder, input:not([type="file"]):-ms-input-placeholder, textarea:-ms-input-placeholder, .fileUpload:-ms-input-placeholder {
    padding: 10px;
    font-weight: 200;
    color: #6f6f6f; }
  button::placeholder,
  input:not([type="file"])::placeholder,
  textarea::placeholder,
  .fileUpload::placeholder {
    padding: 10px;
    font-weight: 200;
    color: #6f6f6f; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  background-color: #ffffff;
  margin-bottom: 50px;
  border-bottom: 1px solid #e7e7e7; }
  .header .header__wrapper {
    display: grid;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    align-items: center;
    padding: 0.5em 1em; }
    .header .header__wrapper .header__column {
      width: 100%; }
      .header .header__wrapper .header__column i {
        color: #b5269a;
        font-size: 30px; }
      .header .header__wrapper .header__column:nth-child(2) {
        width: 100%;
        justify-self: center; }
      .header .header__wrapper .header__column:last-child {
        justify-self: end; }
      .header .header__wrapper .header__column ul {
        display: flex;
        color: #444444;
        align-items: center;
        text-transform: uppercase;
        font-weight: 700; }
        .header .header__wrapper .header__column ul li:not(:last-child) {
          margin-right: 0.4em; }
        .header .header__wrapper .header__column ul li a {
          color: #b5269a; }
      .header .header__wrapper .header__column form {
        width: 100%; }
        .header .header__wrapper .header__column form input {
          width: 100%;
          padding: 6px 8px;
          font-size: 14px;
          font-weight: 600;
          border: 1px solid #e7e7e7;
          border-radius: 4px; }
          .header .header__wrapper .header__column form input::-moz-placeholder {
            font-weight: 400;
            color: #444444; }
          .header .header__wrapper .header__column form input:-ms-input-placeholder {
            font-weight: 400;
            color: #444444; }
          .header .header__wrapper .header__column form input::placeholder {
            font-weight: 400;
            color: #444444; }
          .header .header__wrapper .header__column form input:focus {
            outline: none; }

.footer {
  margin: 50px 0;
  padding-top: 50px;
  border-top: 1px solid #e7e7e7;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .footer .footer__icon {
    font-size: 20px;
    color: #b5269a;
    margin-bottom: 20px; }
  .footer .footer__text {
    font-weight: 300;
    color: #444444;
    text-transform: uppercase; }

.imageBlock .imageBlock__thumnail {
  width: 100%;
  max-width: 400px;
  height: 400px; }

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form-container form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 25px; }
    .form-container form input:not([type="file"]),
    .form-container form .fileUpload {
      display: block;
      width: 100%;
      padding: 10px 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
      .form-container form input:not([type="file"]):not(:last-child),
      .form-container form .fileUpload:not(:last-child) {
        margin-bottom: 25px; }
    .form-container form textarea {
      max-width: 320px;
      margin-bottom: 25px;
      padding: 0;
      height: 5em;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .form-container form input[type="submit"] {
      background-color: #3498db;
      color: white; }

.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .social-login button {
    width: 100%;
    max-width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0; }
    .social-login button:not(:last-child) {
      margin-bottom: 15px; }
    .social-login button span {
      font-size: 14px; }
      .social-login button span i {
        margin-right: 10px;
        font-size: 15px; }
  .social-login .social-login__github {
    background: #444444;
    color: #ffffff; }
  .social-login .social-login__kakao {
    background: #f3d903;
    color: #444444; }
  .social-login .social-login__google {
    background: #ffffff;
    color: #5a95ed; }

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .image-container .image {
    max-width: 600px; }
    .image-container .image img {
      border-radius: 15px;
      width: 100%; }
  .image-container .image__info {
    width: 100%;
    max-width: 600px;
    border-bottom: 1px solid #444444; }
    .image-container .image__info .image__info-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .image-container .image__info .image__info-wrapper .image__edit {
        margin: 0.5em 0;
        font-size: 14px; }
        .image-container .image__info .image__info-wrapper .image__edit a {
          background-color: transparent;
          color: #b5269a; }
      .image-container .image__info .image__info-wrapper .image__views {
        font-weight: 700; }
    .image-container .image__info .image__detail {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 600px;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      margin-bottom: 0.5em; }
      .image-container .image__info .image__detail .image__detail-wrapper {
        display: flex;
        align-items: center;
        justify-self: start; }
        .image-container .image__info .image__detail .image__detail-wrapper .image__likeBtn {
          display: flex;
          align-items: center;
          margin-right: 0.3em; }
          .image-container .image__info .image__detail .image__detail-wrapper .image__likeBtn .image__likeBtn-icon {
            margin-right: 0.3em; }
      .image-container .image__info .image__detail .image__createDate {
        justify-self: end; }
        .image-container .image__info .image__detail .image__createDate span {
          color: #444444; }
    .image-container .image__info .image__autor {
      font-weight: 800;
      margin-bottom: 0.3em;
      font-size: 14px; }
    .image-container .image__info .image__title {
      font-weight: 600;
      margin-bottom: 0.3em; }
    .image-container .image__info .image__description {
      margin-bottom: 0.3em; }

.home-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; }


/*# sourceMappingURL=style.css.map*/